.network-item {
  display: flex;
  flex-flow: column;
  padding: 32px 100px 100px 100px;
  background-color: white;
  filter: drop-shadow(0 1px 10px #00000028);
  transition: 0.3s;

  img {
    padding: 0 92px;
    width: 70%;
    height: auto;
  }

  .img-c {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .content {
    flex: 2;
  }

  p {
    font-size: 20px;
  }
}

.network-item--small {
  display: block;
  padding: 38px;

  .img-c {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid black;
    margin: 0 auto;

    img {
      width: 60%;
      height: 60%;
      padding: 20%;
    }
  }

  .content h3 {
    font-size: 20px;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 16px;
  }
}

.network-item:hover {
  filter: drop-shadow(0 1px 20px #00000028);
  z-index: 99;
}

@media only screen and (max-width: 1080px) {
  .network-item {
    padding: 72px !important;
    flex: 1 1 50%  !important;
  }

  .network-items {
    padding: 0 !important;
  }
}

