.language-select {
    position: fixed;
    background-color: #f3f3f3;
    width: fit-content;

    transform: translate(0, -50%);
    top: 50%;
    right: 0;

    li {
        margin: 0 auto;
        padding: 0;
        font-size: 0;
    }

    ul {
        margin: 0;
        padding: 0.4em;
    }

    img {
        width: 72px;
    }
}