.primary-image .right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.primary-image img {
  margin: 0 62px;
}

.primary-image .right img {
  margin: 0 72px;
}

.primary-image .right div {
  max-height: 438px;
  padding: 106px 72px;
  font-size: 30px;
  text-align: center;
  background-color: #c00000;
  color: white;
}

.wrapper-values {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
}

.wrapper-values div {
  border-top: 1px solid #cccccc;
  padding: 80px 85px;
  flex-grow: 1;
  transition: 0.3s;
}

.wrapper-values div + div {
  border-left: 1px solid #cccccc;
}

.wrapper-values div:first-child {
  background-color: #c00000;
  color: white;
}

.wrapper-values div:hover {
  background-color: #c00000;
  color: white;
  border-left: 0px;
}
