.primary-image > .right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.primary-image > img {
  margin: 0 62px;
}

.primary-image > .right > img {
  margin: 0 72px;
}

.primary-image > .right > div {
  padding: 106px 72px;
  font-size: 30px;
  text-align: center;
  background-color: #c00000;
  color: white;
}

.wrapper-values {
  display: flex;
  flex-flow: row wrap;
  grid-template-columns: repeat(3, 1fr);
}

.wrapper-values > div:first-child {
  background-color: #c00000;
  color: white;
}

@media only screen and (max-width: 800px) {
  .primary-image > .right > img {
    margin: 0 16px;
  }
  .primary-image > .right > div {
    padding: 42px 42px;
    font-size: 20px;
  }

  .primary-image > .right > div {
    text-align: start !important;
  }
}

@media only screen and (max-width: 1080px) {
  .primary-image > .right > div {
    text-align: justify !important;
  }
}
