.wrapper {
  border-bottom: 1px solid #cccccc;
  padding: 36px 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    display: inline-block;
  }
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;

  * {
    font-size: 20px;
  }

  li:hover {
    .overflow {
      display: flex;
    }
  }

  li + li {
    margin-left: 20px;
    cursor: pointer;
  }
}

.overflow {
  display: none;
  position: absolute;
  background: #c00000;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 8px;

  a {
    padding: 20px 30px;
    color: white !important;
  }

  a:hover {
    color: black !important;
  }

  a + a {
    border-top: 1px solid white;
  }
}
