.wrapper {
  border-bottom: 1px solid #CCCCCC;
  padding: 36px 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper img {
    display: inline-block;
}

button + button {
  margin-left: 10px;
}
