footer {
  font-size: 20px;
  color: white;
  background-color: black;
  padding: 80px 140px;
}

.ngc-footer-top {
    display: flex;
    flex-flow: row wrap;
}

.ngc-footer-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    font-size: 16px;
}

.ngc-footer-bottom .locations {
    display: flex;
    flex-flow: row wrap;
    line-height: 1.6;
}

.ngc-footer-bottom .locations div, .ngc-footer-bottom div p {
    margin: 10px 50px 10px 0;
}

@media only screen and (max-width: 1024px) {
    footer {
        padding: 48px 48px;
    }
}

@media only screen and (max-width: 768px) {
    footer {
        padding: 26px 26px;
    }
}