.content-wrapper {
  padding: 64px 20%;
}

.primary-image {
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

@media only screen and (max-width: 768px) {
  .content-wrapper {
    padding: 64px 10%;
  }
}